table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
table td, table th{
    border: 2px solid #b93fbf;
    padding: 10px;
    min-height: 160px;

}
.img{
    width: 100px;
    height: 100px;
}
.adjust-updatelink{
    margin-left: 15px;
}