<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>

<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>


<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>


<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>


<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>


<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>


<div class="row search-item">
    <div class="col sm-3">
        <img src="../assets/Flwoer6.jpg" alt="">
    </div>
    <div class="col-sm-8 deatils">
        <h6>Product name</h6>
        <p><b>Price:1000</b></p>
        <p><span>Color</span><span>Category</span></p>
        <p>A Product is a sample</p>

    </div>

</div>


